# =========================
# ARCHIVOS DE DATOS
# =========================
data/
*.csv
*.tsv
*.xlsx
*.xls
*.parquet
*.feather
*.json

# =========================
# NOTEBOOKS CHECKPOINTS
# =========================
.ipynb_checkpoints/

# =========================
# ENTORNOS DE PYTHON
# =========================
venv/
env/
.venv/

# =========================
# __pycache__
# =========================
__pycache__/
*.pyc

# =========================
# LOGS
# =========================
*.log

# =========================
# CONFIG VS CODE
# =========================
.vscode/

# =========================
# ARCHIVOS TEMPORALES
# =========================
*.tmp
*.temp
*~
.DS_Store

# =========================
# MODELOS PESADOS
# =========================
models/
*.pkl
*.joblib
